<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <div class="container">
    <h1 class="display-4">PIB MÉXICO</h1>
    <p class="lead">Estudio sobre la tasa de crecimiento anual en el Producto Interno Bruto de méxico.</p>
  </div>
</div>


<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="assets/img/2.jpg" class="d-block w-100" alt="image1">
    </div>
    <div class="carousel-item">
      <img src="assets/img/bamxico.png" class="d-block w-100" alt="image2">
    </div>

  </div>
</div>

<div class="jumbotron">
  <h1 class="display-4">¿Qué es?</h1>
  <p class="lead">El Producto Interno Bruto (PIB) es el valor de todos los bienes y servicios finales producidos en una economía generalmente contabilizada en un año.
Los bienes y servicios finales son aquellos que no se usan como insumos en la producción de otros bienes y servicios, sino que los compra el usuario final.
Los bienes incluyen Bienes de consumos, Servicios y Bienes de consumo duraderos nuevos.</p>
</div>


<div class="card-group">
  <div class="card">
    <img src="assets/img/flag.jpg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">PIB México 2019</h5>
      <p class="card-text">La Secretaría de Hacienda y Crédito Público (SHCP) mantuvo en 2.0 por ciento su pronóstico de crecimiento para la economía mexicana en 2019,
        pero precisó que “ante los signos de desaceleración de la economía, hay ciertos riesgos”.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="assets/img/fmi.jpg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Anteriormente…</h5>
      <p class="card-text">El Fondo Monetario Internacional (FMI) recortó este lunes su pronóstico de crecimiento de la economía de México para este año a 2.1 por ciento, desde el 2.5 por ciento que previó en su reporte de octubre.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="assets/img/cd.jpg" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">El PIB sube un 0,3% en México en el cuarto trimestre</h5>
      <p class="card-text">El producto interior bruto de México en el cuarto trimestre de 2018 ha crecido un 0,3%
        respecto al trimestre anterior. Esta tasa es 5 décimas menor que la del tercer trimestre de 2018, cuando fue del 0,8%.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
